<form id="gist_form">
	<label for="gist_title">Title:</label>
	<input type="text" name="gist[title]" value="" id="gist_title">
 	<%= JST['gists/gist_file_form_part']({idExt: 0}) %>
	<input type="submit" value="Create Gist!" id="gist_form_btn">
</form>