<div id="content"></div><div id="detail">You haven't clicked on any links yet.</div>


<script type="text/javascript" charset="utf-8">
GistApp.CurrentUser = JSON.parse('<%= current_user.to_json.html_safe %>');
</script>